<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = 'stylesheet' href = "/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Handjet:wght@300;400&display=swap" rel="stylesheet">
    <title> MY APP</title>
</head>
<body>
    <div class = 'title'>
        <section>
        <h1> May Node and Express be with you</h1>
        </section>
    </div>

    <div class = 'second-section'>
        <div class = 'three-boxes'>
        <h2> Add quote </h2>
        <div class = "snd-row">
            <p> What would Yoda say? </p>
            <form action="/quotes" method="POST">
                <input type="text" placeholder="Name" name="name" />
                <input type="text" placeholder="Quote" name="quote" />
                <button class="btn" type="submit">Submit</button>
            </form>
        </div>
        </div>

    

        <div class = 'three-boxes'>
            <h2>Darth Vader invades !</h2>
            <p class="snd-row">Replace first Yoda's quote with a quote written by Darth Vader</p>
            <button class= "btn"   id="update-button">Replace Yoda's quote</button>
        </div>

        <div class = 'three-boxes'>
            <h2>Remove Darth Vader !</h2>
            <p class = "snd-row">
            Delete one Darth Vader's quote. Does nothing if there are no more Darth
            Vader's quote
            </p>
            <button class=" btn" id="delete-button">Delete Darth Vader's quote</button>
        
        </div>
    </div>

    <div class = 'quotes'>
        <div class= "left">
        <h2> Quotes: </h2>
        
        <ul>
            <% quotes.forEach(quote => { %>
                <li><strong><%= quote.name %>:</strong> <%= quote.quote %></li>
            <% }); %>
        </ul>
        </div>


        <iframe class="yoda" src="https://giphy.com/embed/Wn74RUT0vjnoU98Hnt" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/baby-yoda-Wn74RUT0vjnoU98Hnt"></a></p>
     

        <div id="message"></div>
    </div>


    <script src="/main.js"></script>

</body>
</html>
  